<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
  </head>
  <body>
    <div class="logo-div">
      <img class="logo" src="../../assets/img/GSS-Logo.png" alt="logo" />
    </div>
    <div class="row">
      <div class="column">
        <h1>Länkar</h1>
        <ul class="list">
          <li><a href="/"> Hem</a></li>
          <li><a href="/rating"> Medlemmar</a></li>
          <li><a href="/calendar"> Kalender</a></li>
          <li><a href="/series"> Seriespel</a></li>
        </ul>
      </div>
      <div class="column-mid">
        <h1>Göteborgs Schacksällskap</h1>
        <ul class="list">
          <li>Måndagar kl 18.30 - 21.00</li>
          <li>Daniel Petterssons gata 5</li>
          <li>413 20 Göteborg</li>
        </ul>
        <iframe
          width="450"
          height="250"
          id="gmap_canvas"
          src="https://maps.google.com/maps?q=Daniel%20Petterssons%20gata%205&t=&z=11&ie=UTF8&iwloc=&output=embed"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
        ></iframe>
      </div>
      <div class="column">
        <h1>Kontakt</h1>
        <ul class="list">
          <li><a href="mailto:j_elfving@yahoo.se"> j_elfving@yahoo.se</a></li>
          <li>Tel: 123456789</li>
        </ul>
      </div>
    </div>
  </body>
</html>
