@font-face {
  font-family: Della Respira;
  src: url(DellaRespira-Regular.ttf);
}

@font-face {
  font-family: DM Sans;
  src: url(DMSans-Regular.ttf);
}

body {
  padding-left: 3em;
  padding-right: 5em;
  padding-top: 2em;
  margin-bottom: 3em;
}

h1 {
  font-size: 48;
  font-family: Della Respira;
  color: black;
}

h3 {
  font-size: 26;
  font-family: Della Respira;
  color: #676363;
}

ul {
  display:table;
  width:100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  background-color: #036fa7;
  align-items: flex-start;
  display:table-cell;
}
li a {
  display: block;
  color: white;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #95c8e5;
}
.active {
  background-color: #04AA6D;
}

s
[aria-current]:not([aria-current="false"]) {
  background-color: #036fa7;
  text-decoration: underline;
}

#logo {
  float: left;
  margin-right: 2em;
  width: 9em;
  height: auto;
  width: auto\9; /* ie8 */
}

.first {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.last {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#notInUse {
  background-color: #676363;
  color: black;
}

.logo-text {
  padding-left: 192px;
  padding-bottom: 1em;
}

.is-active {
  text-decoration: underline;
}
