<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="row">
      <div class="column-about">
        <h1>Om oss</h1>
        <p>
          Stockholms Schacksällskap som bildades 1866 är Sveriges äldsta
          schackklubb. Inte långt därefter kommer Göteborgs Schacksällskap som
          grundades 1879, och firade 140 år på torsdagen med middag. På
          Göteborgs Schacksällskaps hemsida berättas det att klubbens
          storhetstid låg kring seklets början. Man har vid några tillfällen
          anordnat större turneringar vid jubileumsdagar. Bland annat 1979, då
          man hade en jubileumsturnering i samband med 100-årsfirandet. Även
          2004, när klubben fyllde 125 år, anordnades en turnering. Eftersom
          medlemsantalet sviktat periodvis, har GSS under årens lopp gått samman
          med några andra mindre klubbar. Man har dock bevarat namnet Göteborgs
          Schacksällskap, och bedriver fortsatt schacklig verksamhet med
          exempelvis ett division III-lag i Allsvenskan. Göteborgs
          Schacksällskap bildades 1879. Detta hände också det året i Sverige och
          världen: 1 januari: Normaltid införs i Sverige för att anpassa landet
          efter järnvägen. Innan dess var tidsskillnaden mellan Stockholm och
          Göteborg 24 minuter. 13 mars: Schackgeniet Adolf Anderssen dör. 14
          mars: Dagen efter Anderssens död, föds ett annat geni: Albert
          Einstein. 20 juli: Adolf Erik Nordenskiöld fullbordar Nordostpassagen.
          Polarforskaren Nordenskiöld var också Stockholms Schacksällskaps allra
          första ordförande 1866. 24 september: Spårvagnar införs i Göteborg. Då
          drogs de med häst. 31 december: Thomas Edison demonstrerar för första
          gången det elektriska ljuset.
        </p>
        <h1 class="besok">Besök oss</h1>
        <ul class="list">
          <li>Måndagar kl 18.30 - 21.00</li>
          <li>Daniel Petterssons gata 5</li>
          <li>413 20 Göteborg</li>
        </ul>
      </div>
    </div>
  </body>
</html>
