<div class="container">
  
  
  
  
  <div class="calendar-title"><h2>Kalender</h2></div>
  <div id="iframe">
    <div class="responsive-iframe-container small-container">
      <iframe
        src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23036fa7&ctz=Europe%2FStockholm&showTabs=0&showCalendars=0&showTz=0&showPrint=0&mode=AGENDA&src=ZjRpaTh2MDZ0ZTliMHFpODgwZWtraWljbmNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=c3Yuc3dlZGlzaCNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%233F51B5&color=%2333B679&color=%230B8043"
        style="border: solid 1px #000"
        width="290"
        height="600"
        frameborder="0"
        scrolling="no"
      ></iframe>
    </div>
  </div>
</div>
