<body>
  <div class="row">
    <div class="col-12">
      <h2>Sidebar</h2>
      <app-home-about></app-home-about>
      <iframe 
          src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%234285F4&ctz=Europe%2FBerlin&mode=AGENDA&showPrint=0&showTabs=0&showNav=1&showCalendars=0&showTz=0&src=ZjRpaTh2MDZ0ZTliMHFpODgwZWtraWljbmNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23039BE5" 
          style="border-width:0"  
          width="300" 
          height="600" 
          frameborder="0" 
          scrolling="no"
          id="gmap_canvas"
          marginheight="0"
          marginwidth="0"
      ></iframe>
    </div>
  </div>
</body>
